#header-site-title {
color: green;
}

header {
background-color: grey;
}

footer {
background-color: grey;
text-align: center;
}

<!--
img
{
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -webkit-transform: rotate(90deg);
 transform: rotate(90deg);
}
-->
