<!DOCTYPE html>
<html>

	<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		<title>{{ page.title }}</title>
	</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey" style="position:relative; min-height: 100vh;">

	<nav>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-teal w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">JULIO GARZA</a>
    <a href="/CV" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CV</a>
    <a href="/projects" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROJECTS</a>
    <a href="/photography" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PHOTOGRAPHY</a>
    <a href="/blog" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOG</a>
	  <!-- Use to create a dropdown menu
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
	-->
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/CV" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CV</a>
  <a href="/projects" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROJECTS</a>
  <a href="/photography" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PHOTOGRAPHY</a>
  <a href="/blog" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BLOG</a>	
</div>
	</nav>
	
		<div class="container" style="max-width:2000px;margin-top:60px;margin-bottom:95px;">
 		           {{ content }}
		</div><!-- /.container -->
		
<footer class="w3-container w3-teal w3-center w3-margin-top" style="position:absolute; bottom: 0px; left: 0px; right: 0px; margin-bottom: 0px;">
  <p>Find me on social media.</p>
  <a href="https://www.instagram.com/julio16/?hl=en" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://twitter.com/ElJulioGarza" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/juliocgarza" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i> 
</footer></a>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
	
</script>
	
</body>
</html>
