<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {{page.title}} </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <!--
      <h1 id="header-site-title"> {{site.title}} </h1>
      <h2> {{page.title}} </h2>
      -->
      <p><i class="fa fa-rocket"></i><a class="nav-link" href="index.html"> Home </a></p>
      <p><i class="fa fa-paw"></i><a class="nav-link" href="doggies.html"> Doggies </a></p>
      <hr />
    </header>
    {{ content }}
    <footer>
      <p> Created by Julio Garza </p> 
    </footer>
  </body>
</html>  

